<div *ngIf="person">
        <h2>{{person.name | uppercase}} Details</h2>
        <div><span>id: </span>{{person.personId}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="person.name" placeholder="name"/>
          </label>
        </div>
        <div>
            <label>email:
              <input [(ngModel)]="person.email" placeholder="email"/>
            </label>
          </div>
</div>
<button type="button" class="btn btn-primary btn-lg" (click)="update()">Save</button>